/* .image1{
    background-color: aquamarine;
    text-align: center;
}
.image2{
    background-color: rosybrown;
    text-align: center;
}
.image3{
    background-color: slategray;
    text-align: center;
} */

.blockWrap{
    background-color: aquamarine;
}